:root {
    --website-background-color: rgb(230, 237, 240);
    --blue-wide-gamut-color: color(display-p3 0.75 0.75 0.96  );
    --green-mixed-color: color-mix(color(display-p3 0.7 0.2 0.1), color(display-p3 0.2 0.5 0.8), 80%);
}

h1, h2, h3 {  
    color:rgb(5, 129, 236);
}

html {
    background-color: var(--website-background-color, lightblue);
}
*:not(h1):not(h2):not(h3) {
    font-family: 'Poppins', 'Trebuchet MS', sans-serif;
    font-size: 1rem;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;
  }

code {
    font-family: 'Consolas'
}

section pre {
    background-color:white
}

li:has(a) {
    background-color: lightblue;
}
li:has(a):hover {
    background-color: white
}

nav {
    display: flex;
    justify-content: center;
    min-height: 3vh;
    background-color: var(--blue-wide-gamut-color, blue);
    border: 5px solid var(--blue-wide-gamut-color, blue);
}

nav a {
    flex: 1;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    color: darkblue;
    /* font-size: 1rem; */
    border: 1px solid black;
    margin: 5px;
    transition: margin 0.15s ease;
    padding-left: 3px;
    padding-right: 3px;
}

/* Phone */
@media (min-width: 0px) and (max-width: 480px) {
    nav {
        min-height: 7vh;
    }
}

/* Laptop */
@media (min-width: 481px) and (max-width: 768px) {
    nav {
        min-height: 6vh;
    }
}

/* Desktop */
@media (min-width: 769px) {
    nav {
        min-height: 5vh;
    }
}

nav a:hover {
    color: blue;
    background-color: white;
    margin: 3px;
    border-radius: 8px
}

nav a:active {
    color: green;
    margin: 2px;
}

#aboutme{
    margin-left: 2%;
}

@keyframes scaleAndRotate {
    0% {
      transform: scale(1) rotate(0deg);
    }
    50% {
      transform: scale(1.1) rotate(3deg);
    }
    100% {
        transform: scale(1) rotate(0);
      }
  }

img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    object-position: bottom center;
    width: 70%;
    height: 70%;
    /* border: 1px solid black */
}
#headshot {
    object-position: top center;
}

img:hover {
    animation: scaleAndRotate .3s linear 1;
}